version: "2"

name: hadoop

services:
   namenode:
      image: apache/hadoop:3
      hostname: namenode
      command: ["hdfs", "namenode"]
      ports:
        - 9870:9870
      env_file:
        - ./config
      environment:
          ENSURE_NAMENODE_DIR: "/tmp/hadoop-root/dfs/name"
      volumes:
        - ./data/namenode:/tmp/hadoop-root/dfs/name
   datanode1:
      image: apache/hadoop:3
      command: ["hdfs", "datanode"]
      env_file:
        - ./config
      volumes:
        - ./data/datanode1:/tmp/hadoop-root/dfs/data
   datanode2:
      image: apache/hadoop:3
      command: ["hdfs", "datanode"]
      env_file:
        - ./config
      volumes:
        - ./data/datanode2:/tmp/hadoop-root/dfs/data
   datanode3:
      image: apache/hadoop:3
      command: ["hdfs", "datanode"]
      env_file:
        - ./config
      volumes:
        - ./data/datanode3:/tmp/hadoop-root/dfs/data
   resourcemanager:
      image: apache/hadoop:3
      hostname: resourcemanager
      command: ["yarn", "resourcemanager"]
      ports:
         - 8088:8088
      env_file:
        - ./config
      volumes:
        - ./test.sh:/opt/test.sh
        - ./data/yarn/resourcemanager:/tmp/hadoop-yarn/resourcemanager
   nodemanager1:
      image: apache/hadoop:3
      command: ["yarn", "nodemanager"]
      env_file:
        - ./config
      volumes:
        - ./data/yarn/nodemanager1:/tmp/hadoop-yarn/nodemanager
   nodemanager2:
      image: apache/hadoop:3
      command: ["yarn", "nodemanager"]
      env_file:
        - ./config
      volumes:
        - ./data/yarn/nodemanager2:/tmp/hadoop-yarn/nodemanager
   nodemanager3:
      image: apache/hadoop:3
      command: ["yarn", "nodemanager"]
      env_file:
        - ./config
      volumes:
        - ./data/yarn/nodemanager3:/tmp/hadoop-yarn/nodemanager

